.front-banner
{
    min-height: 450px;
    background: #A9A7A4;
}
.navbar-btn{
    padding-top: 8px;
    border-radius: 0px !important;
    padding : 0px 8px;
    margin-top: 8px;
}

.navbar-btn:hover
{
    border: 1px solid black;

}

.navbar-btn:focus
{
    box-shadow: none;
}

.navbar-head
{
    background: rgba(19, 20, 19, 0.19);
    /* filter: blur(7.5px); */
}